body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #e7e7ff;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #9f85e7 1px, transparent 1px),
    linear-gradient(to bottom, #9f85e7 1px, transparent 1px);
}

/* would like to change styles - make into classic 90s windowed vibe - pink ideally! Pastel etc could be dope */

#text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: #d5a6ff;
  color: #6562dc;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #d5a6ff;
  border: #6562dc;
  border-style: solid;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #9f85e7;
  padding: 5px;
  color: #9f85e7;
}

#stats {
  background-color: #6562dc;
  color: #66e5dd;
}

#monsterStats {
  display: none;
  border: 1px solid #9f85e7;
  padding: 5px;
  color: #ffffff;
  background-color: #d9659d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #d9659d;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fecde3;
  font-weight: bold;
  /* background-image: linear-gradient(#fecc4c, #ffac33); */
  border: 3px solid #ff9cc3;
}
